 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --my-primary: #f86583;
  --my-secondary: #ff7425;
  --my-terceary: #eb4b79;
  --my-background-color: #fff4e7;
  --my-grey: #c1c1c3;
  --my-text-color: #474646;
  --my-card-color: #fafafa;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--my-text-color);
}

.custom-navbar {
  height: 10vh;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-bottom: 3vh;
  box-shadow:0 3px 30px rgba(232, 75, 121, 0.15);
}

.navbar-nav{
  flex-direction: column;
  background-color: white;
}

.logo-desktop {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.logo-mobile {
  display: none;
  height: 45px;
  padding: 0;
  margin-right: 10px;
}

.custom-navlinks {
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.custom-img{
  border-radius: 8px;
  box-shadow:4px 8px 10px rgba(232, 75, 121, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-link {
  color: var(--my-primary);
  font-size: larger;
}

.nav-link:hover{
  font-weight: 500;
  color: var(--my-grey)
}

main{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

main img{
  width: 40vw;
  margin-left: 3vw;
}

.main-text{
  margin: 2%;
  width: 40vw;
  text-align: center;
}

.my-btn{
  background-color: var(--my-background-color);
  color: var(--my-primary);
  border:solid 1px var(--my-grey);
}

footer{
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 2vh 2vw;
  margin-top: 2vh;
}

footer label{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
color: var(--my-terceary);
margin-bottom: 1vw;
}

footer iframe{
  width: 30vw;
  height: 30vh;
  margin-right:2vw;
  border-radius: 8px;
}

footer a {
color: var(--my-terceary);
border-color: solid, 2px, var(--my-text-color);

}
footer img{
  height: 10vh;
  width: auto;
  
}

footer form{
  width: 25vw;
}

.contact{
display: flex;
flex-direction: column;
margin-left: 2vw;
}

.title{
  text-align: center;
  color: var(--my-secondary);
  font-size: 2.5em;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.card{
  flex: 0 1 calc(34% - 20px); 
  background-color: var(--my-card-color);
  border-radius: 10px;
}

.card h5{
  color: var(--my-primary);
}

.products{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.products h3{
  color:var(--my-secondary);
  margin-top: 4vh;
  margin-bottom: 3vh;
}

.products p{
width: auto;
margin: auto;
display: flex;
justify-content: center;
}

.basics-text{
  width: 100%;
  max-width: 45%;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  margin: 0;  
  text-align: left;
  margin-left: 1vh;
}

.my-carousel {
  max-width: 400px;
  margin: 0 auto;
}

.carousel-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1vh;
}

.carousel-img-b {
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.product-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
  box-shadow:0px 0px 10px rgba(232, 75, 121, 0.25);
  padding: 2%;
  border-radius: 8px;
}

.about {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 2vh 2vw;
}

.about img{
  width: 40vw;
  margin: 2vw;
}

.about p{
  width: 40vw;
  margin: 2vw;
}

@media (max-width: 992px) {
  main{
    flex-direction: column;
    align-items: center;
  }

  .topbar-mobile{
    background-color: var(--my-background-color);
  }

  main .img{
    width: 80vw;
  }

  main .main-text{
    width: 80vw;
  }

  .navbar{
    height: 10vh;
  }

  .nav-item{
    background-color: var(--my-card-color);
  }

  .about{
    flex-direction: column;
  }

  .about img{
    width: 80vw;
    margin: 2vw;
  }

  .about p{
    width: 80vw;
    margin: 2vw;
    text-align: center;
  }
  footer{
    flex-direction: column;
  }
  footer iframe{
    width: 80vw;
    margin-bottom: 3vh;
  }
  footer form{
    width: 80vw;
  }

  .card {
    flex: 0 1 80%;
  }

  .products h3{
    color:var(--my-secondary);
    margin-top: 2vh;
    margin-bottom: 1vh;
  }

  .service{
    margin-top: 3vh;
    margin-bottom: 0;
  }

  .title-service{
    margin-top: 2vh;
  }

  .nav-item{
    background-color: white;
  }
  
  
}

@media (max-width: 768px) {
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: inline;
  }

  .topbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;

  }

  .navbar-toggler {
    margin: 0;
    background-color: var(--my-background-color);

  }
  .custom-navbar {
    background-color: var(--my-background-color);
    position: relative;
    z-index: 1050;
  }

  .custom-navlinks a{
    z-index: 1050;
    position: relative;
   background-color: solid 3px var(--my-background-color) !important;
  }

  .ul-background{
    background-color: var(--my-background-color)
  }
  .navbar-brand {
    margin: 0;
  }
  .product-section{
    flex-direction: column;
  }
  .basics-text{
    text-align: center;
    max-width: 85%;
  }

}
